* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50vh;
    transition: transform 0.7s ease-in-out;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.article:nth-child(odd) {
    background-color: black;
    border: 1px solid blue;
    color: white;
    border-radius: 4px;
}

.article:nth-child(even) {
    background-color: rgb(192, 154, 154);
    border: 1px solid darkblue;
    color: white;
    border-radius: 4px;
}

.article {
    width: 20vw;
    height: 20vh;
    transition: transform 0.7s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}